.dish-info-container{
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    color: navy;
}

.dish-container{
    border: 2px solid;
    text-align: center;
    width: 20vw;
    height: 60vh;
    background-color: beige;
    margin: 2em 1em 1em 1em;
    box-shadow: lightsteelblue 0.5em 0.5em 1em 0.5em;
}

.dish-details{
    list-style: none;
    margin: 0 auto 1em auto;
    text-align: left;
}

.unavailable{
    font-size: 1.25em;
    margin: 0.5em auto 0 auto;
    color: red;
}

.name-country{
    font-size: 1.5em;
}

.category{
    font-size: 1.25em;
}

.meals-ordered{
    width: 75%;
}

.dish-details > li{
    margin-bottom: 1em;
}

.gallery{
    margin: 1em 0 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
}

.dish-img{
    margin: 1em 0 1em 0;
    width: 20vw;
    height: 25vh;
    box-shadow: lightsteelblue 0.5em 0.5em 1em 0.5em;
}

.review-form{
    width: 20vw;
}

.input-container{
    margin-top: 2em;
}

.form-input{
    border-width: 0.5em;
    border-color: navy;
}

#nickname-input, #title-input, #content-input{
    width: 20vw;
    height: 3vh;
}

.submit-btn{
    margin-top: 2em;
    width: 5em;
    background-color: navy;
    color: beige;
    border-width: 0.5em;
    border-radius: 0.5em;
}

.submit-btn:hover{
    cursor: pointer;
}

.review-form > h3{
    font-size: 2em;
    text-align: center;
}

.reviews-container{
    color: navy;
}

.reviews-container > h2{
    text-align: center;
}

.review{
    width: 80vw;
    margin: 3em auto 0 auto;
}