<nav>
    <ul class="navbar">
        <li [style.visibility]="logged ? 'hidden' : 'visible'">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li [style.visibility]="logged ? 'hidden' : 'visible'">
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
        <li [style.visibility]="logged ? 'visible' : 'hidden'">
          Logged as: {{logged}}
        </li>
        <li [style.visibility]="logged ? 'visible' : 'hidden'">
          <a routerLink="/mainpage" routerLinkActive="active"><button click="logout()">Log out</button></a>
        </li>
        <li class="nav-item">
          <a routerLink="/mainpage" routerLinkActive="active">Main Page</a>
        </li>
        <li class="nav-item">
          <a routerLink="/menu/1" routerLinkActive="active">Menu</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" routerLinkActive="active">Add dish</a>
        </li>
        <li class="nav-item">
          <a routerLink="basket" routerLinkActive="active">Basket</a>
        </li>
      </ul>
</nav>