*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    color: navy;
}

.main-header{
    text-align: center;
    font-size: 3em;
    color: navy;
}

.currency{
    display: inline-block;
    margin-bottom: 1em;
}