<div class="container">
    <h1>Add dish</h1>
<form class="add-form" [formGroup]="addDishFormGroup" (ngSubmit)="onSubmit()">
    <div class="input-container">
        <label>Dish name: </label>
        <br>
        <input class="form-input" id="name-input" formControlName="name">
        <br>
        <div *ngIf="name.invalid && name.touched" class="alert">This field cannot be empty, the name must be unique</div>
    </div>
    <div class="input-container">
        <label>Country: </label>
        <br>
        <input class="form-input" id="country-input" formControlName="country">
        <br>
        <div *ngIf="country.invalid && country.touched" class="alert">This field cannot be empty</div>
    </div>
    <div class="input-container">
        <label>Category: </label>
        <br>
        <input class="form-input" id="category-input" formControlName="category">
        <br>
        <div *ngIf="category.invalid && category.touched" class="alert">This field cannot be empty</div>
    </div>
    <div class="input-container">
        <label>Comma separated ingredients: </label>
        <br>
        <input class="form-input" id="ingredients-input" formControlName="ingredients">
        <br>
        <div *ngIf="ingredients.invalid && ingredients.touched" class="alert">This field cannot be empty</div>
    </div>
    <div class="input-container">
        <label>Quantity: </label>
        <br>
        <input class="form-input" id="max-no-input" formControlName="maxNo" type="number">
        <br>
        <div *ngIf="maxNo.invalid && maxNo.touched" class="alert">This field cannot be empty</div>
    </div>
    <div class="input-container">
        <label>Unit price: </label>
        <br>
        <input class="form-input" id="price-input" formControlName="price" type="number">
        <br>
        <div *ngIf="price.invalid && price.touched" class="alert">This field cannot be empty</div>
    </div>
    <div class="input-container">
        <label>Description: </label>
        <br>
        <input class="form-input" id="description-input" formControlName="description">
        <br>
        <div *ngIf="description.invalid && description.touched" class="alert">This field cannot be empty</div>
    </div>
    <div class="input-container">
        <label>Comma separated photo urls: </label>
        <br>
        <input class="form-input" id="photos-input" formControlName="photos">
        <br>
        <div *ngIf="photos.invalid && photos.touched" class="alert">This field cannot be empty</div>
    </div>
    <button class="submit-btn" type="submit" [disabled]="!addDishFormGroup.valid">Add</button>
</form>

</div>