<div id="dishes">
  <ng-container *ngFor="let d of dishData">
    <app-dish-basic [dishData]="d" [cheapest]="cheapest" [mostExpensive]="mostExpensive" (orderDishEmitter)="addToBasket($event)" (resignEmitter)="removeFromBasket($event)" (deleteDishEmitter)="updateBorders()"></app-dish-basic>
  </ng-container>
</div>
<!-- <div class="sidebar">
  <app-currency-switch class="currency" (currencyEmitter)="changeCurrency($event)"></app-currency-switch>
  <app-ordered-meals-counter class="meals-counter" [mealsOrdered]="mealsOrdered"></app-ordered-meals-counter>
  <app-basket class="basket" [basket]="basket" [totalCost]="totalCost * multiplier" [currencySign]="currencySign"></app-basket>
</div> -->